.allBlogs{
    margin: 32px 0;
    
}

.title-section{
    margin: 24px 0;
    font-size: 32px;
    font-weight: 600;

}
.container-all-post{
    margin: 0 auto;
    max-width: 1920px;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    gap: 24px;
}

.pagination{
    width: 100%;
    display: flex;
    justify-content: space-between;
}
.pagination-btn{
    display: flex;
    align-items: center;
    gap: 8px;

    height: 30px;
    border-radius: 5px;
    font-size: 24px;
    font-weight: 500;
    border: none;
    padding: 12px;
    cursor: pointer;
    background-color: #ffff;
}
.pagination-btn:hover{
    color: var(--text-secondary-color);

}