.hero {
    margin-top: 90px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;


}

.hero__container-text {
    text-align: center;

}

.hero__min_title {
    color: var(--badget-purple-text);
    font-weight: 600;
}

.hero__title {
    text-align: center;
    padding: 20px 100px;
    font-weight: 600;
    font-size: 34px;
    line-height: 46px;

}

.hero__text {
    color: var(--title-font-color);

}

.hero__text {
    color: var(--text-secondary-color);
}

/*
 styles  form
 */

.subscribe {
    display: grid;

}

.subscribe__form {
    margin-top: 36px ;
    margin-bottom: 8px;
    display: flex;
    flex-direction: column;
    gap: 12px;

}

.subscribe__input {
    max-width: 360px;
    height: 48px;
    padding: 2px 12px;
    border: 1px solid var(--text-secondary-color);
    font-size: 16px;
    font-weight: 400;
    border-radius: 8px;
    outline-color: var(--btn-bg-color);

}


.subscribe__btn {
    width: 100%;
    height: 56px;
    
    border-radius: 8px;
    background-color: var(--btn-bg-color);
    border: 1px solid var(--btn-bg-color);

    letter-spacing: 1px;
    font-size: 16px;
    font-weight: 500;
    color: var(--whithe-font-color);
    cursor: pointer;
    transition: 250ms;
}

.subscribe__btn:hover{
    background-color: var(--badget-purple-bg);
    color: var(--btn-bg-color);
    border: 1px solid var(--btn-bg-color);
}
.subscribe__form-info-mobile{
 display: none;   
 color: var(--text-secondary-color);
}
.subscribe__form-info {
    color: var(--text-secondary-color);
}

.subscribe__link_privacy {
    color: var(--text-secondary-color);
}
@media (min-width: 720px) {
    
    .subscribe__form{
        flex-direction: row;
    }
    .subscribe__btn {
       max-width:  118px;
        height: 54px;
    }
    .subscribe__form-info{
        display: none;
    }
    .subscribe__form-info-mobile{
        display: initial;
    }
}