.recent-blogs{
    width: 100%;
    display: grid;
    grid-template-columns: 50% 50%;
    
    
}
.container__card-main{
    
    

}
.container__card-main picture{
    
}
.container-recent__cards-vertical{
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 32px;
    
}
.container__cards-vertical{

}


@media (max-width: 1650px) {
    .recent-blogs{
        grid-template-columns: 100%
    };
    
    
}